body {
    cursor: default;
    margin: 0 5px 5px 5px;
    font-family: "Roboto Condensed", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    height: 500px;
    margin-bottom: 5px;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -300px;
    background-image: url("../../../assets/house/cover.jpeg");
}

#navbar {
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
    justify-content: space-between;
}

#tax {
    margin: 0;
    font-size: 25px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.75));
}

#languages {
    width: 75px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 5px;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

#title {
    font-size: 50px;
    text-align: center;
    margin: 100px 0 0 0;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.75));
}

#subtitle {
    font-size: 20px;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 2.5px 0 2.5px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#center .book {
    width: 350px;
    height: 65px;
    border: none;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 104, 248);
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
}

#center .book:hover {
    border-radius: 90px;
}

#sliders {
    gap: 5px;
    display: flex;
}

#slider-for {
    width: 75%;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.slick-prev,
.slick-next {
    top: 50%;
    width: 7.5%;
    border: none;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    border-radius: 90px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    background-color: rgba(37, 104, 248, 0.65);
}

.slick-prev {
    left: 0%;
    z-index: 1;
}

.slick-next {
    left: 100%;
    z-index: 0;
}

#slider-nav {
    width: 25%;
}

#slider-nav .slide {
    cursor: pointer;
}

.slide {
    border-radius: 10px;
}

#info {
    gap: 10px;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: rgb(37, 104, 248);
}

#map {
    width: 50%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
}

#tabs-container {
    width: 50%;
}

#tabs-buttons {
    gap: 5px;
    display: flex;
    overflow-x: auto;
}

#tabs-buttons::-webkit-scrollbar {
    height: 5px;
}

#tabs-buttons::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

#tabs-buttons::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

#tabs-buttons::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

.tab-button {
    flex: 0.2;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px;
    white-space: nowrap;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif;
}

.tab-button.active {
    border-radius: 90px;
}

.tab-button:hover:not(.tab-button.active) {
    background-color: rgb(235, 235, 235);
}

.tab-content {
    display: none;
}

.tab-content.active {
    gap: 10px;
    display: flex;
    height: 325px;
    padding: 20px;
    overflow: auto;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;
}

.tab-content::-webkit-scrollbar {
    width: 5px;
}

.tab-content::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

.tab-content::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

.tab-content::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

.icon-text {
    gap: 10px;
    display: flex;
    font-size: 25px;
    align-items: center;
    color: rgb(255, 255, 255);
}

#tabs-container .book {
    width: 100%;
    height: 65px;
    border: none;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
}

#tabs-container .book:hover {
    border-radius: 90px;
}

footer {
    height: 75px;
    display: flex;
    margin-top: 5px;
    padding: 0px 10px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(37, 104, 248);
}

#home a,
#neighborhood a,
footer div a,
footer div p {
    margin: 0;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
}

#home a,
#neighborhood a {
    font-size: 25px;
}

footer div a {
    font-size: 17.5px;
}

footer div p {
    font-size: 12.5px;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}