<!DOCTYPE html>
<html lang = '{{lang["country code"]}}'>
    <head>
        <meta charset = "UTF-8">
        <title>{{lang["tab title"]}}</title>
        <meta name = "theme-color" content = "#2568f8">
        <meta name = "author" content = "Alessandro Panzieri">
        <link rel = "icon" href = "static/assets/icons/favicon.png">
        <meta name = "description" content = '{{lang["description"]}}'>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/mobile-small.min.css" media = "screen and (max-width: 320px)">
        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/mobile-medium.min.css" media = "screen and (min-width: 321px) and (max-width: 375px)">
        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/mobile-large.min.css" media = "screen and (min-width: 376px) and (max-width: 425px)">
        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/tablet.min.css" media = "screen and (min-width: 426px) and (max-width: 768px)">
        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/pc-small.min.css" media = "screen and (min-width: 769px) and (max-width: 1024px)">
        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/pc-medium.min.css" media = "screen and (min-width: 1025px) and (max-width: 1440px)">
        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/pc-large.min.css" media = "screen and (min-width: 1441px) and (max-width: 1680px)">
        <link rel = "stylesheet" href = "static/css/book-holiday-home/min/pc-huge.min.css" media = "screen and (min-width: 1681px)">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link href = "https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel = "stylesheet">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

        <script src = "https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
        <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css">
        <link rel = "stylesheet" type = "text/css" href = "https://npmcdn.com/flatpickr/dist/themes/material_green.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/it.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/pt.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/fr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/de.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/es.min.js"></script>

        <script async src = "https://www.googletagmanager.com/gtag/js?id=G-ZSSD98RZT0"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "G-ZSSD98RZT0");
        </script>

        <script id = "cookieyes" type = "text/javascript" src = "https://cdn-cookieyes.com/client_data/c8aa7d582c2f454a8f8d16e0/script.js"></script>
    </head>
    <body>
        <main>

            <header>
            </header>

            <div id = "overlap">

                <nav id = "navbar">
                    <p id = "name">Garbatella Elegant Apartment</p>
                    <select id = "languages">
                        {% for language in lang["supported languages"] %}
                            <option value = "{{language}}">{{language}}</option>
                        {% endfor %}
                    </select>
                </nav>

                <form action = "https://formsubmit.co/garbatellaelegantapartment@gmail.com" method = "POST" autocomplete = "off">

                    <fieldset>
                        <input name = "NOME" placeholder = '* {{lang["name"]}}' required>
                        <input name = "COGNOME" placeholder = '* {{lang["surname"]}}' required>
                    </fieldset>

                    <fieldset>
                        <img id = "email" src = "static/assets/icons/email.png" alt = "email">
                        <input name = "EMAIL" placeholder = '* {{lang["email"]}}' required>
                    </fieldset>

                    <fieldset>
                        <img id = "phone" src = "static/assets/icons/phone.png" alt = "phone">
                        <select id = "codes" name = "PREFISSO" required>
                            {% for code in lang["codes"] %}
                                <option value = "+{{code}}">+{{code}}</option>
                            {% endfor %}
                        </select>
                        <input name = "TELEFONO" placeholder = '* {{lang["phone"]}}' required>
                    </fieldset>

                    <fieldset>
                        <img id = "calender" src = "static/assets/icons/calender.png" alt = "calender">
                        <input id = "days" name = "GIORNI" placeholder = '* {{lang["select days"]}}' required>
                    </fieldset>

                    <fieldset>
                        <img src = "static/assets/icons/luggage.png" alt = "luggage">
                        <input id = "guests" name = "OSPITI" type = "number" min = "1" max = "4" placeholder = '* {{lang["guests no."]}}' required>
                    </fieldset>

                    <input id = "book" type = "submit" value = "{{lang['submit']}}">

                    <input type = "hidden" name = "_template" value = "box">
                    <input type = "hidden" name = "_captcha" value = "false">
                    <input type = "hidden" name = "_subject" value = "Hai Una Nuova Prenotazione">
                    <input type = "hidden" name = "_next" value = "https://www.garbatella-elegant-apartment.com/thanks">

                </form>

            </div>

        </main>

        <input type = "hidden" id = "locale" value = "{{lang['country code']}}">
        <input type = "hidden" id = "dateFormat" value = "{{lang['date format']}}">

        <script src = "static/js/min/book-holiday-home.min.js"></script>

    </body>
</html>