<!DOCTYPE html>
<html lang = '{{lang["country code"]}}'>
    <head>
        <meta charset = "UTF-8">
        <title>{{lang["tab title"]}}</title>
        <meta name = "theme-color" content = "#2568f8">
        <meta name = "author" content = "Alessandro Panzieri">
        <link rel = "icon" href = "static/assets/icons/favicon.png">
        <meta name = "description" content = '{{lang["description"]}}'>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel = "canonical" href = "https://www.garbatella-elegant-apartment.com/">

        <link rel = "stylesheet" href = "static/css/index/min/mobile-small.min.css" media = "screen and (max-width: 320px)">
        <link rel = "stylesheet" href = "static/css/index/min/mobile-medium.min.css" media = "screen and (min-width: 321px) and (max-width: 375px)">
        <link rel = "stylesheet" href = "static/css/index/min/mobile-large.min.css" media = "screen and (min-width: 376px) and (max-width: 425px)">
        <link rel = "stylesheet" href = "static/css/index/min/tablet.min.css" media = "screen and (min-width: 426px) and (max-width: 768px)">
        <link rel = "stylesheet" href = "static/css/index/min/pc-small.min.css" media = "screen and (min-width: 769px) and (max-width: 1024px)">
        <link rel = "stylesheet" href = "static/css/index/min/pc-medium.min.css" media = "screen and (min-width: 1025px) and (max-width: 1440px)">
        <link rel = "stylesheet" href = "static/css/index/min/pc-large.min.css" media = "screen and (min-width: 1441px) and (max-width: 1680px)">
        <link rel = "stylesheet" href = "static/css/index/min/pc-huge.min.css" media = "screen and (min-width: 1681px)">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link href = "https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel = "stylesheet">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

        <script src = "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">

        <script async src = "https://www.googletagmanager.com/gtag/js?id=G-ZSSD98RZT0"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "G-ZSSD98RZT0");
        </script>

        <script id = "cookieyes" type = "text/javascript" src = "https://cdn-cookieyes.com/client_data/c8aa7d582c2f454a8f8d16e0/script.js"></script>
    </head>
    <body>
        <main>

            <header>
                <nav id = "navbar">
                    <a id = "tax" href = "/tourist-tax-payment">{{lang["tourist tax"]}}</a>
                    <select id = "languages">
                        {% for language in lang["supported languages"] %}
                            <option value = "{{language}}">{{language}}</option>
                        {% endfor %}
                    </select>
                </nav>

                <p id = "title">{{lang["header title"]}}</p>
                <p id = "subtitle">{{lang["header subtitle"]}}</p>
                <div id = "center"><button class = "book">{{lang["book button"]}}</button></div>
            </header>

            <section id = "sliders">
                <div id = "slider-for">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/entrance/entrance-01.jpeg 475w,
                            static/assets/house/medium/entrance/entrance-01.jpeg 768w,
                            static/assets/house/large/entrance/entrance-01.jpeg 1484w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1484px"
                        alt = "entrance">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/entrance/entrance-02.jpeg 475w,
                            static/assets/house/medium/entrance/entrance-02.jpeg 768w,
                            static/assets/house/large/entrance/entrance-02.jpeg 1484w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1484px"
                        alt = "entrance">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/entrance/entrance-03.jpeg 475w,
                            static/assets/house/medium/entrance/entrance-03.jpeg 768w,
                            static/assets/house/large/entrance/entrance-03.jpeg 1484w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1484px"
                        alt = "entrance">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/living-room/living-room-01.jpeg 475w,
                            static/assets/house/medium/living-room/living-room-01.jpeg 768w,
                            static/assets/house/large/living-room/living-room-01.jpeg 1485w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1485px"
                        alt = "living room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/living-room/living-room-02.jpeg 475w,
                            static/assets/house/medium/living-room/living-room-02.jpeg 768w,
                            static/assets/house/large/living-room/living-room-02.jpeg 1485w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1485px"
                        alt = "living room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/living-room/living-room-03.jpeg 475w,
                            static/assets/house/medium/living-room/living-room-03.jpeg 768w,
                            static/assets/house/large/living-room/living-room-03.jpeg 1485w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1485px"
                        alt = "living room">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bed-room/bed-room-01.jpeg 475w,
                            static/assets/house/medium/bed-room/bed-room-01.jpeg 768w,
                            static/assets/house/large/bed-room/bed-room-01.jpeg 1477w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1477px"
                        alt = "bed room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bed-room/bed-room-02.jpeg 475w,
                            static/assets/house/medium/bed-room/bed-room-02.jpeg 768w,
                            static/assets/house/large/bed-room/bed-room-02.jpeg 1477w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1477px"
                        alt = "bed room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bed-room/bed-room-03.jpeg 475w,
                            static/assets/house/medium/bed-room/bed-room-03.jpeg 768w,
                            static/assets/house/large/bed-room/bed-room-03.jpeg 1477w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1477px"
                        alt = "bed room">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bathroom/bathroom-01.jpeg 475w,
                            static/assets/house/medium/bathroom/bathroom-01.jpeg 768w,
                            static/assets/house/large/bathroom/bathroom-01.jpeg 1478w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1478px"
                        alt = "bathroom">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bathroom/bathroom-02.jpeg 475w,
                            static/assets/house/medium/bathroom/bathroom-02.jpeg 768w,
                            static/assets/house/large/bathroom/bathroom-02.jpeg 1478w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1478px"
                        alt = "bathroom">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/kitchen/kitchen-01.jpeg 475w,
                            static/assets/house/medium/kitchen/kitchen-01.jpeg 768w,
                            static/assets/house/large/kitchen/kitchen-01.jpeg 1500w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1500px"
                        alt = "kitchen">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/kitchen/kitchen-02.jpeg 475w,
                            static/assets/house/medium/kitchen/kitchen-02.jpeg 768w,
                            static/assets/house/large/kitchen/kitchen-02.jpeg 1500w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1500px"
                        alt = "kitchen">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/terrace/terrace-01.jpeg 475w,
                            static/assets/house/medium/terrace/terrace-01.jpeg 768w,
                            static/assets/house/large/terrace/terrace-01.jpeg 1496w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1496px"
                        alt = "terrace">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/hall/hall.jpeg 475w,
                            static/assets/house/medium/hall/hall.jpeg 768w,
                            static/assets/house/large/hall/hall.jpeg 1470w"
                        sizes = "
                            (max-width: 475px) 475px,
                            screen and (min-width: 476px) and (max-width: 768px) 768px,
                            1470px"
                        alt = "hall">
                </div>

                <div id = "slider-nav">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/entrance/entrance-01.jpeg 475w,
                            static/assets/house/medium/entrance/entrance-01.jpeg 768w"
                        sizes =
                            "screen and (max-width: 475px) 475px,
                            768px"
                        alt = "entrance">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/entrance/entrance-02.jpeg 475w,
                            static/assets/house/medium/entrance/entrance-02.jpeg 768w"
                        sizes =
                            "screen and (max-width: 475px) 475px,
                            768px"
                        alt = "entrance">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/entrance/entrance-03.jpeg 475w,
                            static/assets/house/medium/entrance/entrance-03.jpeg 768w"
                        sizes =
                            "screen and (max-width: 475px) 475px,
                            768px"
                        alt = "entrance">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/living-room/living-room-01.jpeg 475w,
                            static/assets/house/medium/living-room/living-room-01.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "living room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/living-room/living-room-02.jpeg 475w,
                            static/assets/house/medium/living-room/living-room-02.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "living room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/living-room/living-room-03.jpeg 475w,
                            static/assets/house/medium/living-room/living-room-03.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "living room">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bed-room/bed-room-01.jpeg 475w,
                            static/assets/house/medium/bed-room/bed-room-01.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "bed room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bed-room/bed-room-02.jpeg 475w,
                            static/assets/house/medium/bed-room/bed-room-02.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "bed room">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bed-room/bed-room-03.jpeg 475w,
                            static/assets/house/medium/bed-room/bed-room-03.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "bed room">
                    
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bathroom/bathroom-01.jpeg 475w,
                            static/assets/house/medium/bathroom/bathroom-01.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "bathroom">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/bathroom/bathroom-02.jpeg 475w,
                            static/assets/house/medium/bathroom/bathroom-02.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "bathroom">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/kitchen/kitchen-01.jpeg 475w,
                            static/assets/house/medium/kitchen/kitchen-01.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "kitchen">
                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/kitchen/kitchen-02.jpeg 475w,
                            static/assets/house/medium/kitchen/kitchen-02.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "kitchen">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/terrace/terrace-01.jpeg 475w,
                            static/assets/house/medium/terrace/terrace-01.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "terrace">

                    <img
                        class = "slide"
                        srcset = "
                            static/assets/house/small/hall/hall.jpeg 475w,
                            static/assets/house/medium/hall/hall.jpeg 768w"
                        sizes = "
                            screen and (max-width: 475px) 475px,
                            768px"
                        alt = "hall">
                </div>
            </section>

            <section id = "info">
                <iframe
                    id = "map"
                    allowfullscreen
                    loading = "lazy"
                    title = "Garbatella Elegant Apartment"
                    referrerpolicy = "no-referrer-when-downgrade"
                    src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.2868737858216!2d12.492649975026074!3d41.86517395670906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258b0a8680a7f7%3A0x30b341755018f6cb!2sGarbatella%20Elegant%20Apartment!5e0!3m2!1sit!2sit!4v1695505409705!5m2!1sit!2sit">
                </iframe>

                <div id = "tabs-container">

                    <div id = "tabs-buttons">
                        <button class = "tab-button active" data-tab = "home">{{lang["home"]}}</button>
                        <button class = "tab-button" data-tab = "services">{{lang["services"]}}</button>
                        <button class = "tab-button" data-tab = "neighborhood">{{lang["neighborhood"]}}</button>
                        <button class = "tab-button" data-tab = "rules">{{lang["rules"]}}</button>
                        <button class = "tab-button" data-tab = "contact">{{lang["contact"]}}</button>
                    </div>

                    <div id = "home" class = "tab-content active">
                        <div class = "icon-text"><img src = "static/assets/icons/mq.png" alt = "mq">{{lang["mq"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/elevator.png" alt = "elevator">{{lang["elevator"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/living-room.png" alt = "living room">{{lang["living room"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/bed-room.png" alt = "bed room">{{lang["bed room"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/bathroom.png" alt = "bathroom">{{lang["bathroom"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/kitchen.png" alt = "kitchen">{{lang["kitchen"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/terrace.png" alt = "terrace">{{lang["terrace"]}}</div>
                        <a href = "/more/home">{{lang["more"]}}</a>
                    </div>

                    <div id = "services" class = "tab-content">
                        <div class = "icon-text"><img src = "static/assets/icons/dishwasher.png" alt = "dishwasher">{{lang["dishwasher"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/fridge.png" alt = "fridge">{{lang["fridge"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/microwave-oven.png" alt = "microwave oven">{{lang["microwave oven"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/toaster.png" alt = "toaster">{{lang["toaster"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/laundry-machine.png" alt = "laundry machine">{{lang["laundry machine"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/clothesline.png" alt = "clothesline">{{lang["clothesline"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/hairdryer.png" alt = "hairdryer">{{lang["hairdryer"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/netflix.png" alt = "netflix">{{lang["netflix"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/conditioner.png" alt = "conditioner">{{lang["conditioner"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/wifi.png" alt = "wifi">{{lang["wifi"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/fire-alarm.png" alt = "fire alarm">{{lang["fire alarm"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/fire-extinguisher.png" alt = "fire extinguisher">{{lang["fire extinguisher"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/first-aid-kit.png" alt = "first aid kit">{{lang["first aid kit"]}}</div>
                    </div>

                    <div id = "neighborhood" class = "tab-content">
                        <div class = "icon-text"><img src = "static/assets/icons/supermarket.png" alt = "supermarket">{{lang["supermarket"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/garage.png" alt = "garage">{{lang["garage"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/parking.png" alt = "parking">{{lang["parking"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/tobacco-shop.png" alt = "tobacco shop">{{lang["tobacco shop"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/cafe.png" alt = "cafe">{{lang["cafe"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/metro.png" alt = "metro">{{lang["metro"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/city-center.png" alt = "city center">{{lang["city center"]}}</div>
                        <a href = "/more/neighborhood">{{lang["more"]}}</a>
                    </div>

                    <div id = "rules" class = "tab-content">
                        <div class = "icon-text"><img src = "static/assets/icons/warning.png" alt = "smoking">{{lang["smoking"]}}</div>
                        <div class = "icon-text"><img src = "static/assets/icons/prohibited.png" alt = "no party">{{lang["no party"]}}</div>
                    </div>

                    <div id = "contact" class = "tab-content">
                        <div class = "icon-text"><img src = "static/assets/icons/email.png" alt = "email">garbatellaelegantapartment@gmail.com</div>
                        <div class = "icon-text"><img src = "static/assets/icons/phone.png" alt = "phone">(+39) 329-41-45-999</div>
                        <div class = "icon-text">{{lang["always available"]}}</div>
                    </div>

                    <button class = book>{{lang["book button"]}}</button>
                </div>
            </section>

            <footer>
                <div>
                    <a href = "/">Garbatella Elegant Apartment - {{lang["tab title"]}}</a>
                    <a href = "/policy" target = "_blank">Privacy policy</a>
                </div>
                <div>
                    <p>P.IVA: 17499831000</p>
                    <p>CF: PNZLSN01P15H501K</p>
                    <p>REA: RM - 1725275</p>
                    <p>SCIA: QA/2024/28850</p>
                    <p>Codice Reg. Lazio: 058091-CAV-09713</p>
                    <p>CIN: IT058091B4JZRP62AG</p>
                </div>
            </footer>

        </main>

        <script src = "static/js/min/index.min.js"></script>

    </body>
</html>