<!DOCTYPE html>
<html lang = '{{lang["country code"]}}'>
    <head>
        <meta charset = "UTF-8">
        <title>{{lang["tab title"]}}</title>
        <meta name = "theme-color" content = "#ffffff">
        <meta name = "author" content = "Alessandro Panzieri">
        <link rel = "icon" href = "../static/assets/icons/favicon.png">
        <meta name = "description" content = '{{lang["description"]}}'>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "stylesheet" href = "../static/css/more/min/mobile-small.min.css" media = "screen and (max-width: 320px)">
        <link rel = "stylesheet" href = "../static/css/more/min/mobile-medium.min.css" media = "screen and (min-width: 321px) and (max-width: 375px)">
        <link rel = "stylesheet" href = "../static/css/more/min/mobile-large.min.css" media = "screen and (min-width: 376px) and (max-width: 425px)">
        <link rel = "stylesheet" href = "../static/css/more/min/tablet.min.css" media = "screen and (min-width: 426px) and (max-width: 768px)">
        <link rel = "stylesheet" href = "../static/css/more/min/pc-small.min.css" media = "screen and (min-width: 769px) and (max-width: 1024px)">
        <link rel = "stylesheet" href = "../static/css/more/min/pc-medium.min.css" media = "screen and (min-width: 1025px) and (max-width: 1440px)">
        <link rel = "stylesheet" href = "../static/css/more/min/pc-large.min.css" media = "screen and (min-width: 1441px) and (max-width: 1680px)">
        <link rel = "stylesheet" href = "../static/css/more/min/pc-huge.min.css" media = "screen and (min-width: 1681px)">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link href = "https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel = "stylesheet">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

        <script async src = "https://www.googletagmanager.com/gtag/js?id=G-ZSSD98RZT0"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "G-ZSSD98RZT0");
        </script>

        <script id = "cookieyes" type = "text/javascript" src = "https://cdn-cookieyes.com/client_data/c8aa7d582c2f454a8f8d16e0/script.js"></script>
    </head>
    <body>
        <main>

            <nav id = "navbar">
                <p id = "name">Garbatella Elegant Apartment</p>
                <select id = "languages">
                    {% for language in lang["supported languages"] %}
                        <option value = "{{language}}">{{language}}</option>
                    {% endfor %}
                </select>
            </nav>

            {% if tab == "home" %}
                {% include "more-home.min.html" %}
            {% elif tab == "neighborhood" %}
                {% include "more-neighborhood.min.html" %}
            {% endif %}

        </main>

        <script src = "../static/js/min/more.min.js"></script>

    </body>
</html>